@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Josefin+Sans:wght@300;400;600&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Red+Hat+Display:wght@500;700;900&display=swap');


:root{
/* Text */
--color-dark-blue:hsl(238, 29%, 16%);
--color-soft-red:hsl(14, 88%, 65%);

/* Background gradient */
--color-soft-blue:hsl(240, 73%, 65%);
--color-soft-violet:hsl(273, 75%, 66%);
--color-white:#fff;

/* Text */
--color-dark-grayish-blue:hsl(237, 12%, 33%);
--color-grey: hsl(240, 6%, 50%);

/* Dividers */
--color-light-grey:hsl(240, 5%, 91%);

/* Font */
--font-family: "Kumbh Sans", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(var(--color-soft-violet), var(--color-soft-blue));
    min-height: 100vh; 
    font-size: 12px;
    font-family: var(--font-family);
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 5rem;
}

.container{
    position: relative;
    margin: 2rem;
    padding: 9rem 1.5rem 3rem 1.5rem;
    border-radius: 20px;
    background-color: var(--color-white);
    font-family: var(--font-family);               
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.container::before {
    position: absolute;
    content: "";
    background: url(images/illustration-woman-online-mobile.svg) no-repeat;
    width: 17rem;
    height: 9rem;
    transform: scale(1.3);
    margin-top: 2rem;
    align-items: center;
    top: -7.5rem;
    left: 4.5rem;
    z-index: 3;    
  }
  
.container::after {
    position: absolute;
    content: "";
    background: url(images/bg-pattern-mobile.svg) no-repeat;
    width: 17rem;
    height: 11rem;
    top: 0.3rem;
    left: 2.7rem;
    z-index: 4; 
  }

.title{
    display: flex;
    justify-content: center;
    padding: 0rem 1.5rem 0.5rem 1.5rem ;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight:bolder;
}


.title{
    text-decoration: none;
  }

 
.accordeon-container{
    border-bottom:1px solid var(--color-light-grey);
    min-height: 3.5rem;
  }

.questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: normal;
}

.questions:hover{
    color: var(--color-soft-red);
}

.questions.active img{
    transform: rotate(180deg);
    transition: all .5s ease;
}

.questions.active{
    color: var(--color-dark-blue);
    font-weight: 700;
}

.answers{
    color: var(--color-grey);
    padding: 0rem 0;
    visibility: hidden;  
    height: 0; 
    font-weight: normal;
}

.answers.active{
    color: var(--color-grey);
    padding: 1rem 0;
    visibility: visible;
    overflow: hidden;
    height: auto;
}

.illustration-box,
.bg-pattern{
    display: none;
}

/*MEDIA QUERIES*/

@media (min-width:980px){

body{
        margin-top: 0;
    }
    
.illus{
    position: relative;
}

.illustration-box{
    z-index: 4;
    position: absolute;
    display: block;
    top: -3rem;
    transform: scale(0.7);
    left: -4rem;
    float: none;
    animation: bounce 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition-timing-function: ease-in ease-out 
}

@keyframes bounce {
    0% {
        top:-3rem;
    }
    100%{
        top:1rem;
    }
} 

.bg-pattern{
    z-index: 5;
    position: absolute;
    display: block;
    transform: scale(0.6);
    top: -31rem;
    left: -30rem;
}
.container{
    position: relative;
    margin-top: 4rem;
    padding-left: 21rem;
    padding-top: 3rem;
    text-align: left;
    width: 54rem;
    height: 30rem;   
}

.container::before {
    position: absolute;
    content: "";
    background: url(images/illustration-woman-online-desktop.svg) no-repeat;
    width: 100%;
    height: 100%;
    transform: scale(0.7);
    top:.5rem;
    left: -12rem;  
}

.container::after {
        background: none;
} 

.title{
    justify-content: initial;
    padding-bottom: 1rem;
    padding-left: 0;
}

.accordeon-container{
    width: 26rem;
}
}

@media (max-width:280px){
    .container::before {
    transform: scale(1.2);
    left:1.5rem;
    }

    .container::after{
    transform: scale(1.2);
    left: -1.3rem;
    top: 0rem;
    }
}


